html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: din-2014, sans-serif;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 3rem;
  line-height: 1.17;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  line-height: 1.25;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.4;
}
p {
  font-size: 1.125rem;
  line-height: 1.78;
}

a {
  font-family: din-2014, sans-serif;
  font-weight: 400;
}

body {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #060813;
}

.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.btn {
  border: 2px solid $blue;
  color: $blue;
  font-size: 0.875rem;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 700;
  padding: 11px 14px 9px;
  text-transform: uppercase;
  transition: all 0.6s;
  background-color: transparent;
  &:hover {
    background-color: rgba(40, 55, 130, 0.1);
    text-decoration: underline;
  }
}
.date {
  font-weight: 700;
  display: block;
  font-size: 0.75rem;
  letter-spacing: 4px;
  line-height: 1;
  opacity: 0.5;
  text-transform: uppercase;
  color: #fff;
}

main {
  position: relative;
  padding-top: 60px;
  &::before {
    content: '';
    position: absolute;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #fff, #dde1e6 33%);
  }
}
